* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1C3144;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #1C3144;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #EAE7DD;
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #EAE7DD;
  cursor: pointer;
}

.nav__links {
  list-style: none;
  display: flex;
  position: relative;
  left: 5%;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #99775C;
}

.cta {
  padding: 9px 25px;
  border: solid;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #99775C;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(transparent,rgb(153, 119, 92, 1) 98%) ,url("./picture.webp");
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero_content {
  padding: 8vh;
  position: relative;
  top: 40vh;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #EAE7DD;
  font-size: 30px;
}

.hero_cta input, .last_cta input{
  border: none;
  color: #99775C;
  background-color: #EAE7DD;
  padding: 13px 55px;
  margin: 15px 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

#s_cta {
  margin-left: 20px;
  background-color: #99775C;
  color: #EAE7DD;
}

.recommendation, .end {
  background-color:  #1C3144;
  padding: 3em;
}

.numbers {
  background-color: #99775C;
  padding: 3em;
}

.re_title, .nu_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px; 
  color: #EAE7DD;
  padding-bottom: 30px;
}

.places {
  display: flex;
  justify-content: space-around;
}

.place img {
  width: 25vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 15px;
}

.place h3, .nu_content p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #EAE7DD; 
}

.place h3 {
  font-size: 35px; 
}

.nu_content {
  text-align: center;
  margin: 40px 0;
  font-size: 50px;
}

.nu_content span {
  margin: 0 4%;
  font-weight: 700;
  padding: .5em;
  color: #99775C;
  background-color: #EAE7DD;
}

.l_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #EAE7DD;
  font-size: 50px;
  width: 60%;
  padding-left: 10%;
  padding-right: 30px;
}

.end {
  display: flex;
  align-items: center;
}

.last_cta {
  display: flex;
  flex-direction: column;
}

.last_cta input {
  margin: 10px; 
  padding: 15px 80px;
  font-size: 15px;
}

#l_cta1 {
  color:#1C3144;
}

#l_cta2 {
  background-color: #99775C;
  color:#1C3144
}

.pattern-bar {
  height: 25px; 
  background-image: url("./repeat-pattern.png"); 
  background-repeat: repeat-x; 
  background-size: auto 100%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 2em;
}

.footer-section {
  flex: 1 1 20%;
  margin-right: 20px;
  color:#EAE7DD;
  position: relative;
  padding: 0 1em;
  font-family: "Inter", sans-serif;
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section h3 {
  font-size: 2vw;
  margin-bottom: 10px;
  font-weight: 700;
}

.footer-section p {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.3vw;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  color:#EAE7DD;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3vw;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #EAE7DD; 
  right: -10px; 
  z-index: 1;
  border-radius: 5px;
}

.footer-section:last-child::after {
  display: none; 
}

 .input-grid label, .input-grid p, .input-label, .prompt label, .result p, .style-0  {
  font-family: "Inter", sans-serif;
  color:#EAE7DD;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.3vw;
  text-align: left;
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

form {
  margin: 1em;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 70px;
}

.input-grid input , .input-field, .prompt input {
  margin-bottom: 10px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  width: 70%;
}

.input-grid label , .prompt label {
  text-align: left; 
  margin-bottom: 10px;
  display: block; 
  font-size: 20px;
  font-weight: bold;
}

/* New checkbox for Amenities */
.checkbox-grid {
  margin-top: 20px; /* Add margin-top to create space */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 70px;
}

.yes-button {
  margin-bottom: 10px;
  background: linear-gradient(to right, #4CAF50, #99775C, #1C3144);
  color: #FFFFFF;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 1.1vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-image: linear-gradient(to right, #FFFFFF, #FFFFFF) 1;
  border-image-slice: 1;
}

.yes-button:hover {
  transform: ease-in-out 0.3s;
  background: linear-gradient(to left, #4CAF50, #99775C, #1C3144);
  border-color: #FFFFFF;
}


/*Fin de nouveau style pour checkbox*/

.prompt {
  margin-top: 20px; /* Add margin-top to create space */
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.prompt input {
  width: 90%;
}

.submit-btn input {
  border-radius: 15px;
  padding: 10px;
  width: 20%;
  margin: 30px;
  background-color: #99775C;
  font-family: "Inter", sans-serif;
  color: #EAE7DD;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left: 70px;
  transition: all 200ms ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.submit-btn input:hover {
  border: 2px solid #dd;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.style-0 {
  text-align: center;
  margin-bottom: 0px;
  --bs-alert-color: #084298;
  --bs-alert-bg: #cfe2ff;
  --bs-alert-border-color: #b6d4fe;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-border: 1px solid #b6d4fe;
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: 16px;
  color: rgb(8, 66, 152);
  background-color: rgb(207, 226, 255);
  border: 0.8px solid rgb(182, 212, 254);
  border-radius: 6px;
  box-sizing: border-box;
  user-select: text;
}
/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px)  {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .hero_content {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 30px;
  }
  #s_cta {
    margin: 0px;
  }
  .places {
    display: block;
    margin-bottom: 30px;
  }

  .place h3 {
    margin-bottom: 20px;
  }

  .place img {
    width: 80%;
    height: 30%;
    margin: auto;
  }
  .nu_content span {
    display: block;
    margin: 10px 0;
  }
  .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .last_cta {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
  }  
  .last_cta input {
    margin: 1em;
  }
  .l_title {
    padding-left: 0;
    width: 80%;
    text-align: center;
    justify-content: start;
  }
  .footer-section {
    flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-section:last-child::after {
    display: block; 
  }
  .footer-section:first-child::after {
    display: none; 
  }
  .footer-section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #EAE7DD; 
    right: auto;
    left: -3px;
    z-index: 1;
    border-radius: 5px;
  }
  .footer-section h3 {
    font-size: 3vw;
  }
  .footer-section p, .footer-section a {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 565px) {
  .last_cta {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }
  .l_title {
    padding-bottom: 10px;
    text-align: left;
  }
  .footer-section h3 {
    font-size: 4vw;
  }
  .footer-section p, .footer-section a {
    font-size: 3vw;
  }
  h2, .l_title p {
    font-size: 10vw;
  }
}


/*Hotel Card CSS*/
.card {
  display: flex;
  padding: 16px;
  border-radius: 20px;
  margin-top: 16px;
  border: 1px solid rgb(55, 58, 64);
  background-color: rgb(20, 21, 23);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translate(0, -2px);
}

.card-content {
  color: white;
}

.card img {
  width: 30%;
  height: auto;
  max-height: 30%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
  flex-shrink: 0;
}

.card img:hover {
  transform: scale(1.02);
}

.card-content {
  flex-grow: 1;
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.name {
  display: flex;
  align-items: center;
}

.name i {
  margin-right: 5px;
  font-size: 18px;
}


.name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.name-rating strong {
  margin-right: 5px;
}

.rating {
  display: flex;
  align-items: center;
  color: #f1c40f;
}

.rating-stars {
  display: inline-flex;
  align-items: center;
}

.rating-stars i {
  font-size: 14px;
  margin-right: 2px;
}

@media (max-width: 800px) {
  .rating-stars i {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .rating-stars i {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .rating-stars i {
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  .rating-stars i {
    font-size: 6px;
  }
}


.rating-value {
  margin-left: 10px;
  font-weight: bold;
}

.rating .fas.fa-star {
  color: #f1c40f;
}

.rating .fas.fa-star-half-alt {
  color: #f1c40f;
}

.rating .far.fa-star {
  color: #ccc;
}

.rating .fas.fa-star:hover,
.rating .fas.fa-star-half-alt:hover {
  cursor: pointer;
  color: #f39c12;
}

.card p {
  margin: 0;
}

.card p strong {
  font-weight: bold;
}

.result {
  margin-top: 20px;
}

.address-map {
  display: flex;
  align-items: center;
}

.map {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.map a {
  color: #3498db;
  text-decoration: none;
  margin-left: 10px;
}

.map a:hover {
  text-decoration: underline;
}

.map p {
  margin: 0;
  color: #777;
}

@media (max-width: 240px) {
  .map a {
    font-size: 6px;
  }
}

@media (max-width: 260px) {
  .map a {
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .map a {
    font-size: 10px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .map a {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .map a {
    font-size: 14px;
  }
}

@media (min-width: 993px) {
  .map a {
    font-size: 16px;
  }
}

@media (min-width: 1080px) {
  .map a {
    font-size: 18px;
  }
}

.address-map {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
}

.address i {
  margin-right: 5px;
}

.address .short-address {
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust the max-width as per your design needs */
  transition: max-width 0.3s ease; /* Add transition for smooth effect */
}

.address .full-address {
  margin: 0;
  display: none;
  white-space: normal;
}

.address:hover .short-address {
  max-width: 0;
  overflow: hidden;
}

.address:hover .full-address {
  display: block;
}

.average-price {
  margin-top: 10px;
}

.average-price h3 {
  font-weight: 400;
  font-size: 24px;
  text-align: right;
}

.average-price h3 span {
  font-weight: 300;
  font-size: 16px;
}

.languages {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.languages i {
  margin-right: 5px;
}

.room-types {
  margin-top: 10px;
}

.room-types p {
  margin: 0;
}

.room-types i {
  margin-right: 5px;
}

.room-info-cursor {
  display: none;
  position: relative;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 14px;
  background-color: #8a8383;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.room-types:hover .room-info-cursor {
  display: block;
}

.property-amenities {
  margin-top: 10px;
}

.property-amenities p {
  margin: 0;
}

.property-amenities i {
  margin-right: 5px;
}

.amenities-info-cursor {
  display: none;
  position: relative;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 14px;
  background-color: #8a8383;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.property-amenities:hover .amenities-info-cursor {
  display: block;
}

.room-features {
  margin-top: 10px;
  position: relative;
}

.room-features p {
  margin: 0;
}

.room-features i {
  margin-right: 5px;
}

.features-info-cursor {
  display: none;
  position: relative;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 14px;
  background-color: #8a8383;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.room-features:hover .features-info-cursor {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-section {
  align-self: flex-end;
}

.left-section {
  align-self: flex-start;
  flex: 1; /* Adjust the width as needed */
}