{% extends 'layout.html' %}

{% block title %}
  suggestion
{% endblock %}

{% block main %}

<form method="post" action="/suggestion">

  <div class="input-grid">
    <div>
      <label for="vil">City</label>
      <input list="cities" name="vil">
      <datalist id="cities">
        {% for ville in villes %}
          <option value="{{ville}}" name="{{ville}}"/>
        {% endfor %}
      </datalist>
    </div>

    <div>
      <label for="language">Language</label>
      <input list="languages" name="lan">
      <datalist id="languages">
        {% for langue in langues %}
          <option value="{{langue}}" name="{{langue}}"/>
        {% endfor %}
      </datalist>
    </div>

    <div>
      <label for="price">Price</label>
      <input type="number" step=0.01 name="price">
    </div>
  </div>

  <div class="prompt">
    <label>Magic prompt</label>
    <input type="text" name="prompt">
  </div>
  
  <div class="submit-btn">
    <input type="submit" value="Bismillah">
  </div>

<!-- Hotel Card -->
<div class="result">
  {% for res in result %}
    <div class="card">
      {% set info_list = res.split('<br>') %}
      <img src="{{ info_list[5] | default('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/27/ea/33/7d/hotel-view.jpg?w=1200&h=-1&s=1') }}" alt="Picture">
      <div class="card-content">
        <div class="grid-container">
          <div class="name-rating">
            <p><strong>Name:</strong> {{ info_list[0] }}</p>
            <p>
              {% set fullStars = info_list[1] | float | round %}
              {% set halfStars = info_list[1] | float - fullStars %}
              {% set emptyStars = 5 - fullStars - 1 %}
              
              {% if fullStars > 0 %}
                <span class="rating-stars">
                  {% for i in range(fullStars) %}
                    <i class="fas fa-star"></i>
                  {% endfor %}
                  {% if halfStars >= 0.5 %}
                    <i class="fas fa-star-half-alt"></i>
                  {% endif %}
                  {% for i in range(emptyStars) %}
                    <i class="far fa-star"></i>
                  {% endfor %}
                </span>
              {% endif %}
              
              <span class="rating-value">{{ info_list[1] }}</span>
            </p>            
          </div>
          <p><strong>Similarity:</strong> {{ info_list[4] }}</p>
          <p><strong>Address:</strong> {{ info_list[2] }}</p>
          <p><strong>Description:</strong> {{ info_list[3] }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

  
  
</form>
{% endblock %}

{% macro input(name, value='', type='text', size=20) -%}
    {% set list1 = variable1.split(',') %}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{% endmacro %}